@use './colors' as c
.full-width
  width: 100%
.full-vheight
  height: 100vh
.full-height
  height: 100%
.flex-center
  display: flex
  justify-content: center
  align-items: center
.round-border
  border-radius: 10px
.error-form
  margin-top: 1rem
  padding: 1rem
  background-color: c.$errorColor
  color: c.$primaryColor
  width: 100%
  justify-content: left
.flex-col
  display: flex
  flex-direction: row
.mwidth-70
  min-width: 70%
.width-70
  width: 70%  
.mwidth-60
  min-width: 60%
.mwidth-50
  min-width: 50%
.mwidth-40
  min-width: 40%
.mwidth-30
  min-width: 30%
.width-30
  width: 30%
.mwidth-20
  min-width: 20%
.mwidth-20
  min-width: 20%